@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  min-height: 100vh;
  
}


@media (width <= 400px) {
  #card, #cardBody{
  width: 20rem;
  }

  #formLogin, #buttonLogin{
    width: 18rem;
  }
}
